/*--------------------------------------- MOBILE RESPONSIVE  START ---------------------------*/
@media screen and (max-width:576px) {

    /*---------------------- MOBILE HEADER SECTION  START  ------------------*/
    nav {
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

    .header-links ul {
        display: flex;
        flex-direction: column;
        margin: 31px;
        gap: 16px;
    }

    /*---------------------- MOBILE HEADER SECTION END  ------------------*/

    /*-------------------- MOBILE SIGN IN SECTION  START  -------------------*/
    .signin {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        height: auto;
        width: 80%;
        margin: auto;
    }

    .signin-image {
        width: 100%;
        height: 100%;
    }

    .signin-description {
        width: 100%;

    }

    .signin-image img {
        width: 100%;
        height: 100%;
    }

    /*-------------------- MOBILE SIGN IN SECTION STYLES END  -------------------*/

    /* <!-------------------------- MOBILE GAMER SECTION START ------------------------> */
    .gamer {
        flex-direction: column;
        width: 85%;
        margin: 20% auto;
    }

    .gamer-image {
        width: 96%;
    }

    .gamer-image img {
        width: 101%;
        height: 100%;
        margin: auto;
        text-align: center;
    }

    .gamer-description {
        text-align: center;
        width: 80%;
    }

    .gamer-description-text {
        text-align: center;
    }

    .gamer-description-header {
        text-align: center;
    }

    .gamer-description-footer-text-hed {
        text-align: center;
    }

    /* <!-------------------------MOBILE GAMER SECTION END  ------------------------> */

    /* <!----------------------------- MOBILE VIDEO SECTION START  ----------------->  */
    .video-images {
        flex-direction: column;
        gap: 30px;
    }

    .video-image-item {
        position: relative;
        width: 78%;
        margin: auto;
    }

    .video-heading {
        font-size: 25px;
    }

    .video-heading-color {
        font-size: 25px;
    }

    .video-sub-heading {
        font-size: 15px;
    }

    .video-image-item p {
        margin: 5% auto 5% auto;
        width: 65%;
    }

    /* ------------------------------- MOBILE VIDEO SECTION END -----------------------*/

    /*----------------------------- MOBILE  NO DOWNLOAD SECTION START -------------------------*/
    .no-download {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 70px;
    }

    .no-download-description {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .no-download-heading,
    .no-download-description-paragraph {
        text-align: center;
    }

    .no-download-description-paragraph {
        margin-top: 21%;
    }

    .no-download-images {
        width: 80%;
    }

    /*----------------------------- MOBILE NO DOWNLOAD SECTION END -------------------------*/

    /*---------------------------- MOBILE ONLINE SECTION STYLES START -----------------------*/
    .online {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 70px;
        margin: 20% auto 10% auto;
    }

    .online-description {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .online-heading {
        text-align: center;
    }

    .online-description-paragraph {
        text-align: center;
        margin-top: 21%;
    }

    .online-images {
        width: 80%;
    }

    /*---------------------------- MOBILE ONLINE SECTION STYLES END -----------------------*/
    /*---------------------------- MOBILE CAREERS SECTION STYLES START ---------------------*/
    .careers {
        flex-direction: column;
        height: auto;
    }

    .careers-description {
        width: 82%;
        margin-left: 0;
    }

    .careers-image {
        width: 80%;
        margin-top: 9%;
    }

    .careers-list {
        gap: 133px;
        font-size: 14px;
    }

    .careers-description>p {
        font-size: 13px;
    }

    .careers-heading {
        margin-top: 9%;
    }

    /*---------------------------- MOBILE CAREERS SECTION STYLES END ---------------------*/

    /*----------------------------- MOBILE  GAME TYPE SECTION STYLES START  ---------------------*/
    .game-type {
        display: none;
    }

    .game-type-mobile {
        display: block;
    }

    .game-type-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9px;
        margin-top: 8%;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 8% auto;
    }

    .game-type-item img {
        width: 28%;
    }

    .game-type-item {
        gap: 0;
        font-size: 12px;
    }

    /*---------------------------- MOBILE FOOTER SECTION STYLE START  -------------------------*/

    footer {
        height: 650px;
    }

    .connections {
        display: grid;
        grid-template-columns: repeat(2, 150px);
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(3, 72px);
        gap: 14px;
        text-align: center;
    }

    .polycies {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 174px);
    }

    /*---------------------------- MOBILE FOOTER SECTION STYLE END  -------------------------*/
    /*----------------------------- MOBILE  GAME TYPE SECTION STYLES END  ---------------------*/
}




/*---------------------------------------- MOBILE RESPONSIVE SECTION END ----------------------------*/

/*---------------------------------------- TAB RESPONSIVE SECTION START ----------------------------*/
@media screen and (min-width:577px) and (max-width:960px) {

    /*-------------------  TAB HEADER SECTION STYLES START  ------------------*/
    nav {
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

    .header-links ul {
        display: flex;
        flex-direction: column;
        margin: 31px;
        gap: 16px;
    }

    /*---------------------- TAB HEADER SECTION STYLES END  ------------------*/

    /*---------------------- TAB SIGN IN SECTION STYLES START  ------------------*/
    .signin {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        height: auto;
        width: 86%;
        margin: auto;
    }

    .signin-image {
        width: 80%;
        height: 100%;
        margin: auto;
    }

    .signin-description {
        width: 100%;

    }

    /*---------------------- TAB SIGN IN SECTION STYLES END  ------------------*/

    /* <!----------------------------- TAB VIDEO SECTION START  ----------------->  */
    .video-images {
        flex-direction: column;
        gap: 30px;
    }

    .video-image-item {
        position: relative;
        width: 78%;
        margin: auto;
    }

    .video-heading {
        font-size: 33px;
    }

    .video-heading-color {
        font-size: 31px;
    }

    .video-sub-heading {
        font-size: 15px;
    }

    .video-image-item p {
        margin: 5% auto 5% auto;
        width: 68%;
    }


    /* <!----------------------------- TAB VIDEO SECTION END  ----------------->  */

    /*----------------------------- NO DOWNLOAD SECTION START -------------------------*/
    .no-download {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 70px;
    }

    .no-download-description {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .no-download-heading {
        text-align: center;
    }

    .no-download-description-paragraph {
        margin-top: 21%;
        text-align: center;
    }

    .no-download-images {
        width: 80%;
    }

    /*-----------------------------TAB NO DOWNLOAD SECTION END -------------------------*/

    /* <!-------------------------- TAB ONLINE SECTION START ------------------------> */
    .online {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 70px;
        margin: 20% auto 10% auto;
    }

    .online-description {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .online-heading {
        text-align: center;
    }

    .online-description-paragraph {
        margin-top: 21%;
        text-align: center;
    }

    .online-images {
        width: 80%;
    }

    /* <!------------------------- TAB ONLINE SECTION END  ------------------------> */

    /*---------------------------- TAB CAREERS SECTION STYLES START ---------------------*/
    .careers {
        flex-direction: column;
        height: auto;
    }

    .careers-description {
        width: 82%;
        margin-left: 0;
    }

    .careers-image {
        width: 80%;
        margin-top: 9%;
    }

    .careers-list {
        gap: 133px;
        font-size: 14px;
    }

    .careers-description>p {
        font-size: 13px;
    }

    .careers-heading {
        margin-top: 9%;
    }

    /*---------------------------- TAB CAREERS SECTION STYLES END ---------------------*/

    /*----------------------------- MOBILE  GAME TYPE SECTION STYLES START  ---------------------*/
    .game-type {
        display: none;
    }

    .game-type-mobile {
        display: block;
    }

    .game-type-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9px;
        margin-top: 8%;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 8% auto;
    }

    .game-type-item img {
        width: 28%;
    }

    .game-type-item {
        gap: 0;
        font-size: 12px;
    }

    /*----------------------------- MOBILE  GAME TYPE SECTION STYLES END  ---------------------*/
}

/*---------------------------------------- TAB RESPONSIVE SECTION END ----------------------------*/